<form>

  <br>
  <h2><strong>Course List</strong></h2>
  <br>
  <br>
  <button routerLink="/adminaddcourse">Add Course</button>
  <br>
  <br>
  <table class="table table-condensed" style="font-size: 20px">
    <thead>
      <tr>
        <th style="text-align: center">Course Name</th>
        <th style="text-align: center">Duration</th>
        <th style="text-align: center">Course Fee</th>
        <th style="text-align: center">Delete</th>
        <th style="text-align: center">Update</th>
      </tr>
    </thead>
    <tbody class="tablefont">
      <tr *ngFor="let course of courses">
        <td>{{course.name}}</td>
        <td>{{course.duration}}</td>
        <td>{{course.fee}}</td>
        <td><a (click)="delete_course(course.id)" title="Delete"><i
              class="glyphicon glyphicon-remove glyphicon-big" style="color:red;"></i></a></td>
        <td [routerLink]="['/adminupdatecourse', course.id]"><a title="Update"><i
              class="glyphicon glyphicon-edit glyphicon-big" aria-hidden="true"></i></a></td>
      </tr>
    </tbody>
  </table>
  <div>
    <p class="red-text">{{error_message}}</p>
  </div>
</form>