/* You can add global styles to this file, and also import other style files */

body{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTL8qpHHIbLduo-otDsxhHN-Hwi-Xx28q8ypBQzw9i_5K4oSrvv");
    background-repeat: no-repeat;
    background-size:cover;
    margin-top: 10px;
    margin-bottom: 20px}