

  .texth2
  {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: unset;
    color: #581d1d;
  }
  .update-page {
    width: 360px;
    padding: 8% 0 0;
    margin: auto;
  }
  .form {
    position: relative;
    z-index: 1;
    background: rgba(218, 204, 183, 0.726);
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    border-radius: 12px;
    box-shadow: 0 0 20px 0 rgba(226, 214, 214, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  }
  .form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: rgb(231, 220, 220);
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
    border-radius: 12px;
    color: #2b0909
  }
  .form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #2b0909;
    width: 50%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    transition: all 0.3 ease;
    cursor: pointer;
    border-radius: 50%;
  }
  .form button:hover,.form button:active,.form button:focus {
    background: grey;
  }
  .form .message {
    margin: 15px 0 0;
    color: #c51717;
    font-size: 12px;
  }
  .form .message a {
    color: #10350b;;
    text-decoration: none;
  }
  .form .register-form {
    display: none;
    
  }
  