

  
 
    <form>
            
            <div class="form">
                    <h2 class="h2"><strong> Admin Dashboard</strong></h2><br>
                    
                    
                    <button class="button" routerLink="/mentorblockunblock">View User</button><br><br>
                    <button class="button" routerLink="/admineditcourse">View Courses</button>  <br><br>
                    <button class="button">View Payments</button><br><br> 

                          
            </div>
          </form>
         
          
